    <div class="container">
        
        <form id="contact" action="#">
            <div class="herbut">
                <h3>Main Details</h3>
                <section>
                    <label for="title">Title *</label>
                    <input id="title" name="title" type="text" placeholder="Enter title... "" class="required">
                    <label for="username">Username *</label>
                    <input id="username" name="username" type="text" placeholder="Enter Username/email...(assocaited with password)"class="required">
                    <label for="password">Password *</label>
                    <input id="password" name="password" type="text" placeholder="Enter password you want to store..."class="required">
                    <p>(*) Mandatory</p>
                </section>
                <h3>Optional details</h3>
                <section>
                    <label for="date">created at *</label>
                    <input id="date" name="date" type="text" class="required" value="12-12-21" readonly>
                    <label for="url">URL *</label>
                    <input id="url" name="url" type="text" class="required" placeholder="Paste URL of the website...">

                    <label for="description">Description</label>
                     <textarea id="description" name="description" type="text"></textarea>
                    <p>(*) Optional</p>
                    <input type="submit" value="submit" class="submitd">
                </section>





        
            </div>
        </form>
        </div>