
	<body class="is-preload">
		

		<!-- Header -->
			<section id="header">
				<div class="inner">
					<span class="icon solid major fa-lock"></span>
					<h1>Store your <strong>"Passwords"</strong>, without any concern<br />
					with the Password Manager.</h1>
					<p>Password Manager offers the easiest and safest way for teams and individuals to store and share
						 sensitive data from any device</p>
					<ul class="actions special">
						<li><a href="#one" class="button scrolly">Discover</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style1">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium">
							<header class="major">
								<h2>Secure Your Passwords From Any Location or Device</h2>
							</header>
							<p>Password Manager gives you power to create and manage unique passwords, 
								so you can strengthen privacy and boost productivity online from any device or location.</p>
						</div>
						<div class="col-6 col-12-medium imp-medium">
							<span class="image fit"><img src="images/three.jpg" alt="" /></span>
						</div>
					</div>
				</div>
			</section>

	

		<!-- Three -->
			<section id="three" class="main style1 special">
				<div class="container">
					<header class="major">
						<h2>Why should you use Password Manager?</h2>
					</header>
					
					<div class="row gtr-150">
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="images/two.jpg" alt="" /></span>
							<h3>Trusted security</h3>
							<p>Your private information is protected with end-to-end 
								encryption before it ever leaves your device</p>
							
						</div>
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="images/five.png" alt="" /></span>
							<h3>Open Source Transparency</h3>
							<p>Bitwarden source code, features, and infrastructure security are
								 vetted and improved by our global community.</p>
							
						</div>
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="images/six.jpg" alt="" /></span>
							<h3>Global Acess</h3>
							<p>Bitwarden works with almost any  browser you can mention: 
								; Chrome, Firefox, Safari, Edge, and many more niche browsers. </p>
							
						</div>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="main style2 special">
				<div class="container">
					<header class="major">
						<h2>Want to store your passwords?</h2>
					</header>
					<p>Register here if you don't have account, or else login</p>
					<ul class="actions special">
						<li><a href="/signup" class="button wide primary">Sign Up</a></li>
						<li><a href="/login" class="button wide"> Login </a></li>
					</ul>
				</div>
			</section>


			<section id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; charanz</li><li>Design: Someone in HTML5 UP</li>
				</ul>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
